<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fanap.podchat"
    tools:targetApi="n">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application>

<!--        <receiver-->
<!--            android:name=".notification.PodPushNotificationReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.arissystem.touca.app" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <receiver android:name="com.arissystem.touca.tmtp.sdk.receivers.TmtpBootReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.QUICKBOOT_POWERON" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
